@charset "UTF-8";
/**
 * Created by KidSirZ4i on  2017/4/21.
 */
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: ",";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
