@charset "UTF-8";
/**
 * Created by KidSirZ4i on  2017/4/21.
 */
.border(@borderColor){
  position: relative;

  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid @borderColor;
  }
}

@media (min-device-pixel-ratio: 1.5) {
  .border{

    &::after{
      transform: scaleY(0.7);
    }
  }
}

@media (min-device-pixel-ratio: 2) {
  .border{

    &::after{
      transform: scaleY(0.5);
    }
  }
}


@media (min-device-pixel-ratio: 3) {
  .border{
    &::after{
      transform: scaleY(0.5);
    }
  }
}


.bg-image(@url){
  background-image: url(@url);
  @media (min-device-pixel-ratio: 3) {
    background-image: url(@url);
  }
}
